body {
    outline: none;
    cursor: pointer;
   background-color: #000;
  }
.chat_content {
  overflow: scroll;
}
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;  
    margin-top: 140px;
  }
  
  button {
    width: 400px;
    height: 40px;
    background: #4b9847;
    outline: none;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  select,
  input {
    width: 400px;
    height: 30px;
    padding: 5px 0px;
    outline: none;
  }
  
  .row {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 18px;
  }
  
  .container {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: #012026;
    padding: 50px;
    border-radius: 10px;

  }
  .containerChat {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .messages {
    color: #f5f5f5;
    font-family: sans-serif;
    border-bottom: 1px solid #f5f5f5;
    
   
  }
  
  #data {
    float: right;
  }
  .new_message {
    padding: 5px;
  }
  
  #message_input {
    margin-top: 50px;
  }
  
  .logout {
    background: rgb(56, 3, 3);
    cursor: pointer;
  }
  .form-label {
    color: #f5f5f5;
    font-family: sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
  }
  #username {
    color: #f5f5f5;
    margin-top: 1em;
    font-family: sans-serif;
  }

strong {
  color: #00f777;
  margin-top: 1em;
}
.welcome {
  color: #00f777;
}